/****** MAIN ******/

body {
	background:
			linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
			linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
			linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
			linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
			linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
			linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

#banner-container {
	padding-top: 100px;
}

/****** HEADER ******/

header.header {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), -7px 4px 5px rgba(0, 0, 0, 0.45);
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: #444444;
	top: 0;
}

#content {
	background-color: #444444;
	box-shadow: 1px 1px 2px 0 rgb(36, 36, 36);
	padding: 0 50px;
}

#main-content {
	background-color: #444444;
	padding-bottom: 50px;
}

/****** CATEGORIES ******/

#filter-section {
	margin-bottom: 80px;
}

#filters {
	display: inline-block;
	position: absolute;
	right: -35px;
	background-color: #b4b4b4;
	padding: 10px 15px;
	color: black;
	border-radius: 25px 0 0 25px;
}

label[for='categories-container'] {
	color: black;
}

#categories-container {
	display: inline-block;
	background-color: transparent;
	border: none;
}

#categories-container:hover,
#categories-container:focus,
#categories-container:visited,
#categories-container:active,
#categories-container {
	outline: none;
}

#categories-container option {
	color: #444444;
}

/****** FOOTER ******/

#footer {
	background-color: #dcdcdc;
}

footer .disclaimer {
	color: #b0b0b0;
	font-style: italic;
	font-size: 12px;
}

/****** PRODUCTS ******/

.product-img {
	max-width: 165px;
	display: block;
	margin: 0 auto;
}

.prod-box {
	padding: 25px 15px 15px 15px;
	margin-bottom: 20px!important;
	background-color: transparent;
	min-height: 443px;
}

.prod-box:hover {
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.45);
}

.product-price {
	font-size: 22px;
}

.add-btn {
	display: inline-block;
	width: 50%;
	margin: 0 25%;
	text-align: center;
	padding: 10px;
	background-color: #979797;
	color: black;
	border-radius: 25px;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
	font-size: 16px;
}

.add-btn .glyphicon {
	color: black;
	margin-left: 5px;

}

.add-btn:hover {
	background-color: whitesmoke;
}


/****** CART ******/

#cart-btn {
	margin-top: 20px;
	padding: 10px 10px 5px 10px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #979797;
	text-align: center;
	position: relative;
}

#cart-btn .glyphicon {
	font-size: 17px;
	color: #979797;
}

#cart-quantity {
	font-size: 10px;
	background-color: #38b033;
	color: black;
	position: absolute;
	padding: 1px 0;
	min-width: 18px;
	border-radius: 50%;
	right: -3px;
	bottom: -7px;
}

.add-btn {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/****** MODAL ******/
.modalw {
	display: none;
	position: fixed;
	width: 100%;
}


