/****** MAIN ******/

body {
	background:
			linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
			linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
			linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
			linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
			linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
			linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

#banner-container {
	padding-top: 100px;
}

/****** HEADER ******/

header.header {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), -7px 4px 5px rgba(0, 0, 0, 0.45);
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: #444444;
	top: 0;
}

#content {
	background-color: #444444;
	box-shadow: 1px 1px 2px 0 rgb(36, 36, 36);
	padding: 0 50px;
}

#main-content {
	background-color: #444444;
	padding-bottom: 50px;
}

/****** CATEGORIES ******/

#filters {
	display: inline-block;
	float: right;
}

#categories-container {
	display: inline-block;
	margin-bottom: 30px;
	background-color: transparent;
	border: none;
}

#categories-container option {
	color: #444444;
}

/****** FOOTER ******/

#footer {
	background-color: #dcdcdc;
}

footer .disclaimer {
	color: #b0b0b0;
	font-style: italic;
	font-size: 12px;
}

/****** PRODUCTS ******/

.product-img {
	max-width: 165px;
	display: block;
	margin: 0 auto;
}

.prod-box {
	padding: 25px 15px 15px 15px;
	margin-bottom: 20px!important;
	background-color: transparent;
	min-height: 443px;
}

.prod-box:hover {
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.45);
}

.product-price {
	font-size: 22px;
}

