header.header {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: white;
	top: 0;
}

#content {
	margin-top: 50px;
}

#main-content {
	background-color: white;
	padding-bottom: 50px;
}

#footer {
	background-color: #dcdcdc;
}

footer .disclaimer {
	color: #b0b0b0;
	font-style: italic;
	font-size: 12px;
}

.product-img {
	max-width: 200px;
	display: block;
	margin: 0 auto;
}
