* {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin: 0;
}

.img {
	display: block;
	max-width: 100%;
	height: auto;
}

.vp-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.vp-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.center {
	margin: 0 auto;
}

.center-text {
	text-align: center;
}

.padding0 {
	padding: 0 !important;
}

.bttn {
	transition: all ease 0.3s;
}

.bttn,
.bttn:active,
.bttn:focus,
.bttn:visited,
.bttn:hover {
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bttn:hover {
	cursor: pointer;
}

.bttn:active {
	box-shadow: inset -1px -1px 0 #676767;
}

i.bttn:active {
	text-shadow:  -1px -1px 0 #676767;
	box-shadow: none;
}